# Python programming

Hello everyone! This notebook includes a quick crash course on `Python` programming. We will cover the important built-in features of `Python` here, such as: data types, control structures, functions, methods, and classes.

### Jupyter basics

Instead of executing the entire code found in a `Python` script, `Jupyter` notebooks allow the user to execute code found in different cells.

The usual process for executing a `Python` script is to load the entire file into an interpreter (like `IDLE`) and execute the entire code. However, programmers may only want to test certain parts of the code while prototyping.

Jupyter notebooks solve this by allowing users to cut up their code into `cells`. Each cell is executed (interpretted) independent of other cells.

For example, two cells are found below. Execute the first cell by clicking on it, then pressing `SHIFT+ENTER`. To note,  the notebook will print out the value of a variable if you call it.

In [ ]:
b = 1
b

In [ ]:
a = b + 2
a

Any assignments or state changes are carried over from previous cell runs. Unless a cell has been previously run, all objects found in that cell will not be available to other cells. 

Let's take a look at the next two cells. If you run the first cell, it will return an error. This is because `c` has not been defined yet.

In [ ]:
d = c + 4
d

In [ ]:
c = 3
c

Try to run the second cell above, then the first cell.

-----

### Data types

##### Numbers

In [ ]:
1 + 1

In [ ]:
2 * 3

In [ ]:
1 / 2

In [ ]:
3 ** 4

In [ ]:
4 % 3

In [ ]:
1 + 2) * (3 + 4)

##### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 1

In [ ]:
x = 1
y = 2

In [ ]:
z = x + y

In [ ]:
z

##### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
"wrap lot's of other quotes"

##### Printing

In [ ]:
x = 'hello'
x

In [ ]:
print(x)

In [ ]:
age = 21
name = 'Allan'

In [ ]:
print('I am {one}, and I am {two} years old.'.format(one=name,two=age))

In [ ]:
print('I am {}, and I am {} years old.'.format(name,age))

##### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi', 1, [1, 2]]

In [ ]:
letters = ['a', 'b', 'c']

In [ ]:
letters.append('d')
letters

In [ ]:
letters[0]

In [ ]:
letters[1:]

In [ ]:
letters[:2]

In [ ]:
letters[0] = 'NEW'
letters

In [ ]:
letters

In [ ]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

##### Dictionaries

In [ ]:
d = {'key1':'item1', 'key2':'item2'}
d

In [ ]:
d['key1']

##### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
t[0] = 'NEW' # Throws an error

##### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

##### Booleans

In [ ]:
True

In [ ]:
False

##### Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
1 != 1

In [ ]:
'hi' == 'bye'

##### Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

---

### Control Structures

##### If-else Statements

In [ ]:
if 1 < 2:
    print('Yep!')

In [ ]:
if 1 < 2:
    print('yep!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

##### Loops

In [ ]:
sequence = [1, 2, 3, 4, 5]

In [ ]:
for item in sequence:
    print(item)

In [ ]:
for item in sequence:
    print('Yep')

In [ ]:
for jelly in sequence:
    print(jelly+jelly)

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

In [ ]:
range(5)

In [ ]:
list(range(5))

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(len(sequence)):
    print(i)

##### List comprehension

In [ ]:
x = [1, 2, 3, 4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

---

### Functions and methods

In [ ]:
def f(parameter='default'):
    """
    Docstring goes here.
    """
    print(parameter)

In [ ]:
f

In [ ]:
f()

In [ ]:
f('new param')

In [ ]:
f(parameter='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

##### Lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

##### Map and filter

In [ ]:
sequence = [1, 2, 3, 4, 5]

In [ ]:
map(times2, sequence)

In [ ]:
list(map(times2, sequence))

In [ ]:
list(map(lambda var: var*2, sequence))

In [ ]:
filter(lambda item: item%2 == 0, sequence)

In [ ]:
list(filter(lambda item: item%2 == 0, sequence))

##### Methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

---

### Exercises

##### Calculate 7 to the power of 4

In [ ]:
# Your answer

##### Split this string into a list

In [ ]:
s = "Subscribe to Pewdiepie!"
# Your answer

##### Given this dictionary, get the word "hello".

In [ ]:
d = {'k1':[1, 2 , 3, {'tricky': ['oh','man','inception', {'target': [1, 2, 3, 'hello']}]}]}
# Your answer

##### Create a function that returns `True` if the word "dog" is found in the input string.

In [ ]:
def findDog(string):
    # Your answer

In [ ]:
findDog('Is there a dog here?')